/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
 padding:80px 80px 80px 80px;
}

.content-mid-header {
  background: #444;
  width:150px;
  heigth:40px;
}

.content-container {
  width:30%;
  heigth:auto;
}

.content {
  background: #D8D8D8;
  padding:20px 20px 20px 20px;
  width:auto;
  heigth:auto;
  text-align:center;
}
